#FicherosParaComprobarEntregaDelTokenizadorEnElServidor/
#FicherosPruebaTokenizador/
#Materiales Tokenizador/
#Refs/
#corrigeAlumno.sh
#memory.cpp
#*/*.o

# Ignora todo
*

# Excepto los ficheros .cpp y .h
!*/*.cpp
!*/*.h